.main{
  text-align: center;
  margin-left: 40px;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.component{
  background: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 30px;
  width: 25%;
  color: #333;
  flex-basis: width;
  background-color: silver;

}
