.App {
  text-align: center;
  background-image: url('https://cdn.hipwallpaper.com/i/72/6/IBjeW5.jpg');
  background-color: #922828;
  color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
